<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91479502529-gh5i0ad0824cel9a1k28c22uqhfmb90n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91479502529-gh5i0ad0824cel9a1k28c22uqhfmb90n</string>
	<key>API_KEY</key>
	<string>AIzaSyAdxwsYcHO3l4mz9gVEbZFtvuWXykog-Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>91479502529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Amer.NewFYP</string>
	<key>PROJECT_ID</key>
	<string>newfyp-d7762</string>
	<key>STORAGE_BUCKET</key>
	<string>newfyp-d7762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:91479502529:ios:890012ee7bc3e50308ee40</string>
</dict>
</plist>
